body {
  background: pink;
}

.graph-type-form {
  width: 500px;
  margin: 0 0 1em 2em;
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
}

svg#glubow {
  margin: 0 2em;
  background: white;
}
